* {
    box-sizing: border-box;
}

body {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(9, 0, 59);
    box-shadow: 0 0 4px 4px rgb(0, 22, 148);
    min-width: 50%;
    border-radius: 30px;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: rgb(9, 20, 138);
    border-radius: 30px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
}

.pw button {
    background-color: transparent;
    border-radius: 20px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.5rem;
    position: absolute;
    font-size: 13px;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    margin-right: 10px;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}

.pw:hover button:hover {
    background-color: rgb(6, 4, 116);
    color: white;
    transition:  0.3s ease;
    
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    font-size: 20px;
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.gerar {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(2, 0, 124);
    cursor: pointer;
    border-radius: 10px;
  }

.gerar:hover {
    background-color: rgb(3, 0, 184);
    transition: 0.3s ease;
}
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }

  .toggle {
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .toggle:last-of-type {
    margin: 0;
  }
  
  .toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .toggle__input:disabled + .toggle-track {
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  .toggle-track {
    background: #4d4e88;
    border: 1px solid #5a72b5;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 30px;
    margin-right: 12px;
    position: relative;
    width: 60px;
  }
  
  .toggle-indicator {
    align-items: center;
    background: #121943;
    border-radius: 24px;
    bottom: 2px;
    display: flex;
    height: 24px;
    justify-content: center;
    left: 2px;
    outline: solid 2px transparent;
    position: absolute;
    transition: 0.25s;
    width: 24px;
  }
  
  .checkMark {
    fill: #fff;
    height: 20px;
    width: 20px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
  
  .toggle__input:checked + .toggle-track .toggle-indicator {
    background: #121943;
    transform: translateX(30px);
  }
  .toggle__input:checked + .toggle-track .toggle-indicator .checkMark {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
  
  @media screen and (-ms-high-contrast: active) {
    .toggle-track {
      border-radius: 0;
    }
  }